<?xml version="1.0" encoding="GB2312"?>
<Make name="ums">
	<Entry name="99Bill_ME31">
		<cmd>make BOARD=ME31 APP=99bill</cmd>
		<name>mapp</name>
		<file>build\99bill_ME31.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="LAKALA_ME31">
		<cmd>make BOARD=ME31 APP=lakala</cmd>
		<name>mapp</name>
		<file>build\LAKALA_ME31.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="LAKALA_ME312.0">
		<cmd>make BOARD=ME312.0 APP=lakala</cmd>
		<name>mapp</name>
		<file>build\LAKALA_ME312.0.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME312.0\master.key</key>
	</Entry>	
	<Entry name="LAKALA_ME30S">
		<cmd>make BOARD=ME30S APP=lakala</cmd>
		<name>mapp</name>
		<file>build\LAKALA_ME30S.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30S\master.key</key>
	</Entry>	
	<Entry name="ChinaUMS_ME31">
		<cmd>make BOARD=ME31 APP=chinaums</cmd>
		<name>mapp</name>
		<file>build\ChinaUMS_ME31.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="JiangSuUms_ME31">
		<cmd>make BOARD=ME31 APP=jiangsuums</cmd>
		<name>mapp</name>
		<file>build\JiangSuUms_ME31.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="99Bill_ME30">
		<cmd>make BOARD=ME30 APP=99bill</cmd>
		<name>mapp</name>
		<file>build\99bill_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="LAKALA_ME30">
		<cmd>make BOARD=ME30 APP=lakala</cmd>
		<name>mapp</name>
		<file>build\LAKALA_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="ChinaUMS_ME30">
		<cmd>make BOARD=ME30 APP=chinaums</cmd>
		<name>mapp</name>
		<file>build\ChinaUMS_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="JiangSuUms_ME30">
		<cmd>make BOARD=ME30 APP=jiangsuums</cmd>
		<name>mapp</name>
		<file>build\JiangSuUms_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="ChengDu_ME30">
		<cmd>make BOARD=ME30 APP=chengdurcb</cmd>
		<name>mapp</name>
		<file>build\ChengDuRCB_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="fuiou_ME31">
		<cmd>make BOARD=ME31 APP=fuiou</cmd>
		<name>mapp</name>
		<file>build\fuiou_ME31.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="common_ME31">
		<cmd>make BOARD=ME31 APP=common</cmd>
		<name>mapp</name>
		<file>build\common_ME31.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="common_ME30">
		<cmd>make BOARD=ME30 APP=common</cmd>
		<name>mapp</name>
		<file>build\common_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="common_ME30S">
		<cmd>make BOARD=ME30S APP=common</cmd>
		<name>mapp</name>
		<file>build\common_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30S\master.key</key>
	</Entry>
	<Entry name="common_ME30F">
		<cmd>make BOARD=ME30F APP=common</cmd>
		<name>mapp</name>
		<file>build\common_ME30.bin</file>
		<address>0x00080000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30F\master.key</key>
	</Entry>
	<Entry name="newland_ME30">
		<cmd>make BOARD=ME30 APP=newland</cmd>
		<name>mapp</name>
		<file>build\newland_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="QINGDAO_ME31">
		<cmd>make BOARD=ME31 APP=qingdao</cmd>
		<name>mapp</name>
		<file>build\qingdao_ME31.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="QINGDAO_ME30">
		<cmd>make BOARD=ME30 APP=qingdao</cmd>
		<name>mapp</name>
		<file>build\qingdao_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>	
	<Entry name="EEEPAY_ME31">
		<cmd>make BOARD=ME31 APP=EEEPAY</cmd>
		<name>mapp</name>
		<file>build\EEEPAY_ME31.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="EEEPAY_ME30">
		<cmd>make BOARD=ME30 APP=EEEPAY</cmd>
		<name>mapp</name>
		<file>build\EEEPAY_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="EEEPAY2_ME30">
		<cmd>make BOARD=ME30 APP=EEEPAY2</cmd>
		<name>mapp</name>
		<file>build\EEEPAY2_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="EPTOK_ME31">
		<cmd>make BOARD=ME31 APP=eptok</cmd>
		<name>mapp</name>
		<file>build\EPTOK_ME31.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="EPTOK_ME30">
		<cmd>make BOARD=ME30 APP=eptok</cmd>
		<name>mapp</name>
		<file>build\EPTOK_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="HDSY_ME30">
		<cmd>make BOARD=ME30 APP=hdsy</cmd>
		<name>mapp</name>
		<file>build\hdsy_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="HDSY_ME31">
		<cmd>make BOARD=ME31 APP=hdsy</cmd>
		<name>mapp</name>
		<file>build\hdsy_ME31.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="QDONE_ME30">
		<cmd>make BOARD=ME30 APP=qdone</cmd>
		<name>mapp</name>
		<file>build\qdone_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="QDONE_ME31">
		<cmd>make BOARD=ME31 APP=qdone</cmd>
		<name>mapp</name>
		<file>build\qdone_ME31.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="YEEPAY_ME30">
		<cmd>make BOARD=ME30 APP=YEEPAY</cmd>
		<name>mapp</name>
		<file>build\YEEPAY_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
	<Entry name="YEEPAY_ME31">
		<cmd>make BOARD=ME31 APP=YEEPAY</cmd>
		<name>mapp</name>
		<file>build\YEEPAY_ME31.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>		
	<Entry name="QDONE_ME31V2">
		<cmd>make BOARD=ME31V2 APP=qdone</cmd>
		<name>mapp</name>
		<file>build\qdone_ME31V2.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>
		<Entry name="COMMON_ME31F">
		<cmd>make BOARD=ME31F APP=common</cmd>
		<name>mapp</name>
		<file>build\COMMON_ME31F.bin</file>
		<address>0x00080000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME31F\master.key</key>
	</Entry>
	<Entry name="LAKALA_ME30_Audio">
		<cmd>make BOARD=ME30 APP=lakala -f Makefile_audio</cmd>
		<name>mapp</name>
		<file>build\LAKALA_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>	
	<Entry name="99Bill_ME30_Audio">
		<cmd>make BOARD=ME30 APP=99bill -f Makefile_audio</cmd>
		<name>mapp</name>
		<file>build\99bill_ME30.bin</file>
		<address>0x00040000</address>
		<flash>/dev/soc_flash</flash>
		<key>configs\ME30\master.key</key>
	</Entry>	
</Make>